<h1><strong>Calendar</strong></h1>
<div>
    <button type="button" class="btn btn-info btn-md">Previous Month</button>
    @Html.Partial("_AddHoliday")
    <button type="button" class="btn btn-info btn-md pull-right">Next Month</button>
    <table class="table table-hover">
            <tbody data-bind="foreach: calendar">
                <tr>
                    <td>
                        <div class="day">
                            <span data-bind="text: day"></span>
                            <span data-bind="text: name"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
    </table>
    </div>