@model HolidayManagement.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2><strong>Dashboard</strong></h2>

<div class="panel">
    <div class="col-mb-3">
        @Html.Partial("_Menu")
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Dashboard/DashboardModel.js"></script>
<script type="text/javascript" src="~/Scripts/Dashboard/TeamModel.js"></script>
<script type="text/javascript" src="~/Scripts/Dashboard/UserModel.js"></script>
<script type="text/javascript">
    InitializeDashboardModel(@Html.Raw(Json.Encode(Model)));
</script>